$width: 360px;
html {
  box-sizing: border-box;
  width: 100%;
  background: rgb(240, 240, 240);
  width: $width;
  min-height: 1000px;
  max-width: $width;
  overflow: scroll;
  user-select: none;
}
* {
    @each $color in $colors {
        // $i: index($colors, $color);
        &.#{map-get($color, name)} {
            color: map-get($color, light);
            background: transparentize(map-get($color, main), .4);
        }
    }
    .white {
        background: white;
        color: #666;
    }
    .grey {
        background: #f8f8f8;
        color: #666;
    }
}
body {
    padding: 0;
    margin: 0;
}
*, *:before, *:after {
  box-sizing: inherit;
  outline: none;

}
#app {
    width:100%;
}
.bookmarkGroup {
    .interior {
        &.disabled {
            pointer-events: none;
        }
    }

    .wrap {
    }

    .colorPicker{
        overflow-y: auto;
        overflow-x: hidden;
        .colorMap{
            width:100%;
            background: white;
            height: 30px;
            .color {
                width: 27.7px;
                height: 15px;
                float: left;
                border: 2px solid transparent;
                &:hover{
                    border: 2px solid black;
                }
            }
        }

    }
    .header {

        font-size: 13px;
        font-weight: bold;
        text-align: left;
        overflow: hidden;
        margin: 0 auto;
        width: 100%;
        cursor: pointer;
        .title{
            width: 50%;
            float: left;
            //border-right: 1px solid #cecece;
            white-space: nowrap;
            padding:.5em;
            height: 29px;
            &:hover{
                background: rgba(0, 0, 0, .05);
            }
        }
        input{
            padding: 5px;
            background: rgba(255,255,255, .5);
            &::-webkit-input-placeholder {
               color: inherit;
            }
            //border: 1px solid #cecece;
            //border-radius: 2px;
            position: relative;
            font-size: 12px;
            padding-top: 4px;
            border: 1px solid transparent;
            //border-bottom: none;
        }
        .fa-folder {
            float: left;
            width: 10%;
            //border-left: 1px solid #eaeaea;
            //border-right: 1px solid #cecece;
            padding:.5em;
            height: 29px;
            padding-left: 12px;
            
            //border-top-right-radius: 20px;
            //border-bottom-right-radius: 10px;
            &:hover{
            }
            &:after{
                // content: "-";
                // width:500px;
                // height: 3px;
                // background: inherit;
                // z-index: 100;
                // display:inline-block;
                // position: relative;
                // bottom: -7px;
                // left: -15px;
                // border-top-right-radius: 12em;
            }
        }
        .fa-plus {
            text-align:center;
            width: 10%;
            //border-left: 1px solid #eaeaea;
            //border-right: 1px solid #cecece;
            padding:.5em;
            height: 29px;
            &:hover{
                background: rgba(0, 0, 0, .05);
            }
        }
        .fa-remove {
            text-align:center;
            width: 10%;
            //border-left: 1px solid #eaeaea;
            //border-right: 1px solid #cecece;
            padding:.5em;
            height: 29px;
            &:hover{
                background: rgba(0, 0, 0, .05);
            }
        }
        .fa-pencil {
            text-align:center;
            width: 10%;
            //border-left: 1px solid #eaeaea;
            //border-right: 1px solid #cecece;
            padding:.5em;
            height: 29px;
            &:hover{
                background: rgba(0, 0, 0, .05);
            }
        }
        .fa-paint-brush {
            text-align:center;
            width: 10%;
            //border-left: 1px solid #eaeaea;
            //border-right: 1px solid #cecece;
            padding:.5em;
            height: 29px;
            &:hover{
                background: rgba(0, 0, 0, .05);
            }
        }
    }

}


.placeholder {
    width: 100%;
    height: 29px;
    background: #f0f0f0;
}

.bookmarkList {
    .bookmark {
        @extend .ScootIn;
        text-decoration: none;
        font-size: 12px;
        display: inline-block;
        width: 100%;
        white-space: nowrap;
        height:32px;
        background: #ece8e8;
        img {
            width: 16px;
            float: left;
            margin: 7px;
            margin-right: 1em;
            transition: .1s all;

        }
        input {
            padding: 5px;
            margin-top: 3px;
            background: white;
            //border: 1px solid #cecece;
            //border-radius: 2px;
            width: 70%;
            position: relative;
            left: -6px;
            font-size: 12px;
            padding-top: 4px;
        }
        a{
            line-height: 30px;
            width: 70%;
            height:29px;
            display: inline-block;
            .title {
                float: left;
                overflow:hidden;
                width: 100%;
                color: #555;
                transition: .1s all;

            }
            .date{
                font-size: 10px;
                color: #777;
                float:right;
                width:20%;
                text-align: right;

            }
        }

        .star {
            display: none;
            position: absolute;
            left: 0px;
            top: 0px;
            .star-front {
                position: absolute;
                left: 2px;
                top: 2px;
                font-size: 15px;
                color: rgb(255, 184, 0);
            }
            .star-back {
                position: absolute;
                left: 3px;
                top: 3px;
                font-size: 16px;
                color: rgb(82, 34, 0);
            }
        }
        .edit, .delete {
            color: #666;
            padding: 10px;
            width: 9%;
            float: right;
            //border-left:1px solid rgb(204, 204, 204);
            &:hover{
                background:rgba(0,0,0,.1);
            }
            &.dark {
                background:rgba(0,0,0,.1);
            }
            cursor: pointer;
        }
        &:hover {
            background: linear-gradient(to right, transparentize( #f8f8f8, .5), #f8f8f8);
            //border-bottom: 1px solid rgb(240, 240, 240);
            /*
            a .title{
                font-size: 14px;
                font-weight: bold;
            }
            a img{
                position: relative;
                transform: scale(2);
            }
            */

        }
    }
}

.toolbar{
    overflow: auto;
    background: linear-gradient(white, #fbfafa);
    height: 45px;
    padding-top: 5px;
    .addFolder{
        width: 50px;
        height: 34px;
        padding-top: 6px;
        padding-left: 6px;
        float: left;

        .fa-folder-open{
            font-size: 20px;
            color: #AAA;
        }
        .fa-plus{
            font-size: 12px;
            color: #AAA;
            position: relative;
            left: -5px;
            top: -4px;
            padding-left: 4px;
        }
        &:hover{
            .fa-plus, .fa-folder-open{
                color: #555;
            }

            //background: rgb(235, 236, 236);
        }
    }

    .searchBar {
        float: left;
        padding: 5px;
        margin-top: 3px;
        background: white;
        border: 1px solid #cecece;
        border-radius: 3px;
        width: 75%;
        position: relative;
        font-size: 12px;
        padding-top: 4px;
        margin-left: 3px;
        margin-right: 3px;
    }

    .search{
        width: 34px;
        height: 34px;
        padding-top: 4px;
        padding-left: 6px;
        float: right;
        font-size: 20px;
        color: #777;
    }
}
