$width: 360px;
html {
  box-sizing: border-box;
  width: 100%;
  background: rgb(240, 240, 240);
  width: $width;
  min-height: 1000px;
  max-width: $width;
  overflow: scroll;
}
body {
    padding: 0;
    margin: 0;
}
*, *:before, *:after {
  box-sizing: inherit;
}
#app {
    width:100%;
}
.header {
    font-size: 13px;
    color: #666;
    font-weight: bold;
    text-align: center;
    text-transform: lowercase;
    overflow: auto;
    margin: 0 auto;
    background: linear-gradient(rgb(230, 230, 230), rgb(240, 240, 240));
    border-bottom: 1px solid #e2e2e2;
    width: 100%;
    cursor: pointer;
    .title{
        width: 60%;
        float: left;
        border-right: 1px solid #cecece;
        padding:.5em;
        height: 29px;
        &:hover{
            background: rgb(230, 230, 230);
        }
    }
    .fa {
        width: 40%;
        border-left: 1px solid #eaeaea;
        border-right: 1px solid #cecece;
        padding:.5em;
        height: 29px;
        &:hover{
            background: rgb(230, 230, 230);
        }
    }
}

.bookmarkList {

    .bookmark {
        @extend .ScootIn;

        text-decoration: none;
        font-size: 12px;
        display: inline-block;
        width: 100%;
        white-space: nowrap;
        height:32px;
        img {
            width: 16px;
            float: left;
            margin: 7px;
            margin-right: 1em;
            transition: .1s all;
        }
        input {
            /*
            padding: 5px;
            margin-top: 4px;
            background: #fbfafa;
            border: 1px solid #cecece;
            border-radius: 2px;
            width: 70%;
            */

            padding: 5px;
            margin-top: 3px;
            background: #fbfafa;
            border: 1px solid #cecece;
            border-radius: 2px;
            width: 70%;
            position: relative;
            left: -6px;
            font-size: 12px;
            padding-top: 4px;
        }
        a{
            line-height: 30px;
            width: 70%;
            height:29px;
            display: inline-block;
            .title {
                float: left;
                overflow:hidden;
                width: 65%;
                color: #555;
                transition: .1s all;

            }
            .date{
                font-size: 10px;
                color: #777;
                float:left;
                width:20%;
                text-align: right;

            }
        }

        .fa {
            color: #666;
            padding: 10px;
            width: 9%;
            float: right;
            border-left:1px solid rgb(204, 204, 204);
            &:hover{
                background:rgba(0,0,0,.1);
            }
            &.dark {
                background:rgba(0,0,0,.1);
            }
            cursor: pointer;
        }
        &:hover {
            background: #fbfafa;
            /*
            a .title{
                font-size: 14px;
                font-weight: bold;
            }
            a img{
                position: relative;
                transform: scale(2);
            }
            */

        }
    }
}
